workflows/competitor-scanner-master.json
{
  "name": "OpenSIN Competitor Scanner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "schedule-critical",
      "name": "Schedule: CRITICAL (6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 200],
      "notes": "Triggers every 6 hours for CRITICAL priority competitors"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */12 * * *"
            }
          ]
        }
      },
      "id": "schedule-high",
      "name": "Schedule: HIGH (12h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 400],
      "notes": "Triggers every 12 hours for HIGH priority competitors"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-medium",
      "name": "Schedule: MEDIUM (daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 600],
      "notes": "Triggers daily at 6AM for MEDIUM priority competitors"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-low",
      "name": "Schedule: LOW (weekly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 800],
      "notes": "Triggers weekly on Monday at 9AM for LOW priority competitors"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "options": {}
      },
      "id": "merge-schedules",
      "name": "Merge Schedules",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [500, 500]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = '/tmp/competitor-tracker-fix/all-competitors.json';\nconst data = JSON.parse(fs.readFileSync(path, 'utf8'));\nconst triggerTime = new Date().toISOString();\n\nlet priorityFilter = 'ALL';\nconst scheduleName = $input.first().json.scheduleName || '';\n\nif (scheduleName.includes('CRITICAL')) priorityFilter = 'CRITICAL';\nelse if (scheduleName.includes('HIGH')) priorityFilter = 'HIGH';\nelse if (scheduleName.includes('MEDIUM')) priorityFilter = 'MEDIUM';\nelse if (scheduleName.includes('LOW')) priorityFilter = 'LOW';\n\nconst allCompetitors = [];\nfor (const [category, competitors] of Object.entries(data.competitors)) {\n  for (const comp of competitors) {\n    if (priorityFilter === 'ALL' || comp.priority === priorityFilter) {\n      allCompetitors.push({\n        ...comp,\n        category,\n        scanTimestamp: triggerTime\n      });\n    }\n  }\n}\n\nreturn allCompetitors.map(c => ({ json: c }));"
      },
      "id": "read-competitors",
      "name": "Read Competitors",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 500]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.github.com/repos/{{ $json.repo }}/commits?per_page=10",
        "options": {
          "timeout": 30000
        }
      },
      "id": "github-commits",
      "name": "GitHub: Latest Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.github.com/repos/{{ $json.repo }}/releases?per_page=5",
        "options": {
          "timeout": 30000
        }
      },
      "id": "github-releases",
      "name": "GitHub: Latest Releases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.github.com/repos/{{ $json.repo }}/pulls?state=closed&per_page=10",
        "options": {
          "timeout": 30000
        }
      },
      "id": "github-prs",
      "name": "GitHub: Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.github.com/repos/{{ $json.repo }}/issues?state=closed&per_page=10",
        "options": {
          "timeout": 30000
        }
      },
      "id": "github-issues",
      "name": "GitHub: Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 650],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "=https://api.github.com/repos/{{ $json.repo }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "github-stars",
      "name": "GitHub: Repo Stats & Stars",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [950, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub API Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.changelog }}",
        "options": {
          "timeout": 30000,
          "allowUnauthorizedCerts": false
        }
      },
      "id": "scrape-changelog",
      "name": "Scrape: Changelog",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 350],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}/blog",
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrape-blog",
      "name": "Scrape: Blog Posts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 500],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst previousResults = {};\n\ntry {\n  const fs = require('fs');\n  const path = '/tmp/competitor-tracker-fix/competitor-research-results.json';\n  if (fs.existsSync(path)) {\n    const raw = fs.readFileSync(path, 'utf8');\n    const parsed = JSON.parse(raw);\n    previousResults.lastScan = parsed.last_scan;\n    previousResults.competitors = parsed.competitors || {};\n  }\n} catch (e) {\n  console.log('No previous results found');\n}\n\nconst updates = [];\nconst now = new Date();\n\nfor (const item of items) {\n  const comp = item.json;\n  const name = comp.name;\n  const category = comp.category;\n  const priority = comp.priority;\n  const repo = comp.repo || '';\n  const lastScan = previousResults.lastScan;\n\n  if (comp.commits && Array.isArray(comp.commits)) {\n    for (const commit of comp.commits.slice(0, 5)) {\n      const commitDate = new Date(commit.commit?.author?.date || commit.sha);\n      if (!lastScan || commitDate > new Date(lastScan)) {\n        const sha = (commit.sha || '').substring(0, 7);\n        const message = (commit.commit?.message || '').split('\\n')[0];\n        const author = commit.commit?.author?.name || 'unknown';\n        updates.push({\n          json: {\n            name,\n            category,\n            priority,\n            update_type: 'commit',\n            title: `${author}: ${message}`,\n            description: `Commit ${sha} by ${author}`,\n            url: `https://github.com/${repo}/commit/${sha}`,\n            timestamp: commit.commit?.author?.date || now.toISOString(),\n            significance: priority === 'CRITICAL' ? 'high' : 'medium'\n          }\n        });\n      }\n    }\n  }\n\n  if (comp.releases && Array.isArray(comp.releases)) {\n    for (const release of comp.releases.slice(0, 3)) {\n      const pubDate = new Date(release.published_at);\n      if (!lastScan || pubDate > new Date(lastScan)) {\n        updates.push({\n          json: {\n            name,\n            category,\n            priority,\n            update_type: 'release',\n            title: `Release ${release.tag_name}`,\n            description: (release.body || '').substring(0, 200),\n            url: release.html_url,\n            timestamp: release.published_at,\n            significance: 'critical'\n          }\n        });\n      }\n    }\n  }\n\n  if (comp.prs && Array.isArray(comp.prs)) {\n    for (const pr of comp.prs.slice(0, 5)) {\n      if (pr.merged_at) {\n        const mergeDate = new Date(pr.merged_at);\n        if (!lastScan || mergeDate > new Date(lastScan)) {\n          updates.push({\n            json: {\n              name,\n              category,\n              priority,\n              update_type: 'pr',\n              title: `PR merged: ${pr.title}`,\n              description: `PR #${pr.number} by ${pr.user?.login}`,\n              url: pr.html_url,\n              timestamp: pr.merged_at,\n              significance: 'medium'\n            }\n          });\n        }\n      }\n    }\n  }\n\n  if (comp.issues && Array.isArray(comp.issues)) {\n    for (const issue of comp.issues.slice(0, 5)) {\n      if (!issue.pull_request && issue.closed_at) {\n        const closeDate = new Date(issue.closed_at);\n        if (!lastScan || closeDate > new Date(lastScan)) {\n          updates.push({\n            json: {\n              name,\n              category,\n              priority,\n              update_type: 'issue',\n              title: `Feature: ${issue.title}`,\n              description: `Issue #${issue.number} closed`,\n              url: issue.html_url,\n              timestamp: issue.closed_at,\n              significance: 'low'\n            }\n          });\n        }\n      }\n    }\n  }\n\n  if (comp.stars !== undefined) {\n    const milestones = [1000, 5000, 10000, 25000, 50000, 100000, 200000, 500000];\n    const prevStars = previousResults.competitors?.[name]?.stars || 0;\n    for (const milestone of milestones) {\n      if (prevStars < milestone && comp.stars >= milestone) {\n        updates.push({\n          json: {\n            name,\n            category,\n            priority,\n            update_type: 'star_milestone',\n            title: `\\u2b50 ${comp.stars} stars! (crossed ${milestone} milestone)`,\n            description: `Reached ${comp.stars} GitHub stars`,\n            url: `https://github.com/${repo}/stargazers`,\n            timestamp: now.toISOString(),\n            significance: 'high'\n          }\n        });\n        break;\n      }\n    }\n  }\n\n  if (comp.changelog_changed) {\n    updates.push({\n      json: {\n        name,\n        category,\n        priority,\n        update_type: 'changelog',\n        title: 'Changelog updated',\n        description: `Changelog page changed: ${comp.changelog}`,\n        url: comp.changelog,\n        timestamp: now.toISOString(),\n        significance: 'medium'\n      }\n    });\n  }\n}\n\nreturn updates;"
      },
      "id": "compare-changes",
      "name": "Compare with Previous Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst report = {\n  last_scan: new Date().toISOString(),\n  total_updates: items.length,\n  critical_updates: [],\n  high_updates: [],\n  medium_updates: [],\n  low_updates: [],\n  competitors: {}\n};\n\nfor (const item of items) {\n  const update = item.json;\n  const significance = update.significance || 'low';\n\n  if (significance === 'critical') report.critical_updates.push(update);\n  else if (significance === 'high') report.high_updates.push(update);\n  else if (significance === 'medium') report.medium_updates.push(update);\n  else report.low_updates.push(update);\n\n  if (!report.competitors[update.name]) {\n    report.competitors[update.name] = {\n      name: update.name,\n      category: update.category,\n      priority: update.priority,\n      updates: []\n    };\n  }\n  report.competitors[update.name].updates.push(update);\n}\n\nreturn [{ json: report }];"
      },
      "id": "generate-report",
      "name": "Generate Change Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1620, 500]
    },
    {
      "parameters": {
        "jsCode": "const report = $input.first().json;\n\nlet msg = '\\ud83d\\udd0d OpenSIN Competitor Intelligence Report\\n';\nmsg += '\\ud83d\\udcc5 ' + report.last_scan.substring(0, 10) + '\\n';\nmsg += '\\ud83d\\udcca ' + report.total_updates + ' updates found\\n\\n';\n\nif (report.critical_updates.length > 0) {\n  msg += '\\ud83d\\udea8 CRITICAL:\\n';\n  for (const u of report.critical_updates) {\n    msg += '  \\u2022 ' + u.name + ': ' + u.title + '\\n';\n  }\n  msg += '\\n';\n}\n\nif (report.high_updates.length > 0) {\n  msg += '\\u26a0\\ufe0f HIGH:\\n';\n  for (const u of report.high_updates) {\n    msg += '  \\u2022 ' + u.name + ': ' + u.title + '\\n';\n  }\n  msg += '\\n';\n}\n\nif (report.medium_updates.length > 0) {\n  msg += '\\ud83d\\udcc8 MEDIUM:\\n';\n  for (const u of report.medium_updates.slice(0, 10)) {\n    msg += '  \\u2022 ' + u.name + ': ' + u.title + '\\n';\n  }\n  if (report.medium_updates.length > 10) {\n    msg += '  ... and ' + (report.medium_updates.length - 10) + ' more\\n';\n  }\n  msg += '\\n';\n}\n\nmsg += '\\ud83d\\udccb Full report: competitor-research-results.json';\n\nreturn [{ json: { telegram_message: msg, discord_message: msg, report } }];"
      },
      "id": "format-telegram",
      "name": "Format for Telegram/Discord",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-telegram",
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2060, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "OpenSIN Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.discord_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-discord",
      "name": "Send Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2060, 600],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const report = $input.first().json.report;\nconst fs = require('fs');\nconst path = '/tmp/competitor-tracker-fix/competitor-research-results.json';\nfs.writeFileSync(path, JSON.stringify(report, null, 2));\nreturn [{ json: { status: 'saved', path, updates: report.total_updates } }];"
      },
      "id": "save-results",
      "name": "Update Results File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2280, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"updates\": {{ $json.updates }}, \"path\": \"{{ $json.path }}\"}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2500, 500]
    },
    {
      "parameters": {
        "path": "competitor-scan",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Trigger Scan",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 1000],
      "webhookId": "competitor-scan-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-repo",
              "leftValue": "={{ $json.repo }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-github",
      "name": "Filter: Has GitHub Repo",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [720, 350]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-changelog",
              "leftValue": "={{ $json.changelog }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-web",
      "name": "Filter: Has Changelog/Blog",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [720, 650]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const comp = { ...item.json };\n  comp.commits = [];\n  comp.releases = [];\n  comp.prs = [];\n  comp.issues = [];\n  comp.stars = 0;\n  comp.changelog_changed = false;\n  results.push({ json: comp });\n}\n\nreturn results;"
      },
      "id": "init-scan-data",
      "name": "Initialize Scan Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 200]
    }
  ],
  "connections": {
    "Schedule: CRITICAL (6h)": {
      "main": [[{ "node": "Merge Schedules", "type": "main", "index": 0 }]]
    },
    "Schedule: HIGH (12h)": {
      "main": [[{ "node": "Merge Schedules", "type": "main", "index": 1 }]]
    },
    "Schedule: MEDIUM (daily)": {
      "main": [[{ "node": "Merge Schedules", "type": "main", "index": 2 }]]
    },
    "Schedule: LOW (weekly)": {
      "main": [[{ "node": "Merge Schedules", "type": "main", "index": 3 }]]
    },
    "Webhook: Trigger Scan": {
      "main": [[{ "node": "Merge Schedules", "type": "main", "index": 4 }]]
    },
    "Merge Schedules": {
      "main": [[{ "node": "Read Competitors", "type": "main", "index": 0 }]]
    },
    "Read Competitors": {
      "main": [
        [{ "node": "Filter: Has GitHub Repo", "type": "main", "index": 0 }],
        [{ "node": "Filter: Has Changelog/Blog", "type": "main", "index": 0 }]
      ]
    },
    "Filter: Has GitHub Repo": {
      "main": [
        [{ "node": "GitHub: Latest Commits", "type": "main", "index": 0 }],
        [{ "node": "GitHub: Latest Releases", "type": "main", "index": 0 }],
        [{ "node": "GitHub: Merged PRs", "type": "main", "index": 0 }],
        [{ "node": "GitHub: Closed Issues", "type": "main", "index": 0 }],
        [{ "node": "GitHub: Repo Stats & Stars", "type": "main", "index": 0 }]
      ]
    },
    "Filter: Has Changelog/Blog": {
      "main": [
        [{ "node": "Scrape: Changelog", "type": "main", "index": 0 }],
        [{ "node": "Scrape: Blog Posts", "type": "main", "index": 0 }]
      ]
    },
    "GitHub: Latest Commits": {
      "main": [[{ "node": "Initialize Scan Data", "type": "main", "index": 0 }]]
    },
    "GitHub: Latest Releases": {
      "main": [[{ "node": "Initialize Scan Data", "type": "main", "index": 0 }]]
    },
    "GitHub: Merged PRs": {
      "main": [[{ "node": "Initialize Scan Data", "type": "main", "index": 0 }]]
    },
    "GitHub: Closed Issues": {
      "main": [[{ "node": "Initialize Scan Data", "type": "main", "index": 0 }]]
    },
    "GitHub: Repo Stats & Stars": {
      "main": [[{ "node": "Initialize Scan Data", "type": "main", "index": 0 }]]
    },
    "Scrape: Changelog": {
      "main": [[{ "node": "Initialize Scan Data", "type": "main", "index": 0 }]]
    },
    "Scrape: Blog Posts": {
      "main": [[{ "node": "Initialize Scan Data", "type": "main", "index": 0 }]]
    },
    "Initialize Scan Data": {
      "main": [[{ "node": "Compare with Previous Scan", "type": "main", "index": 0 }]]
    },
    "Compare with Previous Scan": {
      "main": [[{ "node": "Generate Change Report", "type": "main", "index": 0 }]]
    },
    "Generate Change Report": {
      "main": [[{ "node": "Format for Telegram/Discord", "type": "main", "index": 0 }]]
    },
    "Format for Telegram/Discord": {
      "main": [
        [{ "node": "Send Telegram Notification", "type": "main", "index": 0 }],
        [{ "node": "Send Discord Notification", "type": "main", "index": 0 }],
        [{ "node": "Update Results File", "type": "main", "index": 0 }]
      ]
    },
    "Send Telegram Notification": {
      "main": [[{ "node": "Update Results File", "type": "main", "index": 0 }]]
    },
    "Send Discord Notification": {
      "main": [[{ "node": "Update Results File", "type": "main", "index": 0 }]]
    },
    "Update Results File": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    { "name": "competitor-tracking", "color": "blue" },
    { "name": "opensin", "color": "green" }
  ],
  "triggerCount": 5,
  "updatedAt": "2026-04-04T00:00:00.000Z",
  "versionId": "1"
}
